@font-face { font-family: 'BerlinSansFB'; src: url("../fonts/Berlin Sans FB Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Rockwell"; src: url("../fonts/Rockwell/Rockwell.eot"); src: url("../fonts/Rockwell/Rockwell.ttf") format("truetype"); font-style: normal; font-weight: normal; }
@font-face { font-family: 'Verdana'; src: url("../fonts/Verdana.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'LucidaGrande'; src: url("../fonts/LucidaGrande.ttf") format("truetype"); font-weight: normal; font-style: normal; }
* { box-sizing: border-box; }

body { margin: 0; padding: 0; width: 100%; }

.container { width: 100%; min-width: 320px; max-width: 968px; margin: 0 auto; padding: 0 14px; position: relative; }

header { width: 100%; height: 600px; position: relative; background: #de4f4f url("../img/header_bg.png") no-repeat; background-size: cover; border-top: 14px solid #3b3b3b; border-bottom: 14px solid #3b3b3b; -webkit-box-shadow: inset 0 30px 0px -20px rgba(0, 0, 0, 0.15), inset 0 -30px 0px -20px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0 30px 0px -20px rgba(0, 0, 0, 0.15), inset 0 -30px 0px -20px rgba(0, 0, 0, 0.15); box-shadow: inset 0 30px 0px -20px rgba(0, 0, 0, 0.15), inset 0 -30px 0px -20px rgba(0, 0, 0, 0.15); }
header::after { content: ''; position: absolute; top: 0px; left: 0px; right: 0px; bottom: -25px; background: #e5e5e5; z-index: -1; }
header .header { width: 100%; margin-top: 14px; overflow: hidden; }
header .header .logo { float: left; margin-top: 45px; margin-bottom: 60px; }
header .header .mobile__btn { display: none; }
header .header nav { float: right; margin-top: 55px; }
header .header nav ul { list-style: none; margin: 0; }
header .header nav ul li { display: inline; }
header .header nav ul li a { text-decoration: none; text-transform: uppercase; color: #fff; font-family: 'BerlinSansFB'; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); margin-right: 45px; font-size: 13.33px; transition: all 0.2s ease-in; }
header .header nav ul li a:hover { color: #3b3b3b; }
header .header .slider__frame { overflow: hidden; width: 100%; height: 506px; border: 10px solid #e5e5e5; }
header .header .slider__frame img { width: 100%; height: 486px; }

main { margin-top: 90px; width: 100%; }
main h2 { text-align: center; text-shadow: 1px 3px 1px #bebdbd; font-family: 'Rockwell'; font-size: 30px; color: #3b3b3b; margin: 0; padding-top: 60px; }
main .btn__block { width: 300px; margin: 60px auto; }
main .btn__block button { padding: 17px 45px; border-radius: 50px; border: 8px solid #f3f3f3; background: #ed6363; color: #fff; font-size: 20px; font-family: "Verdana"; cursor: pointer; -webkit-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
main .btn__block button:hover { border: 8px solid #dfdede; background: #db5252; transform: scale(0.9); }
main .news { width: 100%; overflow: hidden; }
main .news .news__item--margin { margin: 0 4%; }
main .news .news__item { float: left; width: 30%; margin-bottom: 60px; }
main .news .news__item .img { width: 100%; -webkit-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
main .news .news__item .img:hover { transform: scale(0.95); }
main .news .news__item h4 { margin: 15px 0px 5px 10px; font-family: 'LucidaGrande'; font-size: 20px; color: #373737; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); }
main .news .news__item p { margin: 0px 0px 5px 10px; font-size: 10px; font-family: 'Verdana'; color: #2b2b2b; line-height: 2.182; }
main .news .news__item a { float: right; font-family: 'Verdana'; text-transform: uppercase; text-decoration: none; color: #f95959; font-weight: bold; font-size: 11px; -webkit-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; }
main .news .news__item a:hover { transform: scale(1.1); color: #db5252; text-shadow: 1px 3px 1px #bebdbd; }

.footer__header { background: url("../img/triangle.png"); height: 9px; width: 100%; }

footer { width: 100%; background: #373737; overflow: hidden; position: relative; }
footer .footer__item--margin { margin: 0 4%; }
footer .footer__item { float: left; width: 30%; }
footer .footer__item h4 { color: white; font-size: 20px; margin-top: 45px; margin-bottom: 20px; font-family: 'BerlinSansFB'; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75); }
footer .footer__item .footer__blog--item { width: 100%; margin-bottom: 50px; overflow: hidden; }
footer .footer__item .footer__blog--item .img { float: left; width: 70px; height: 70px; }
footer .footer__item .footer__blog--item .fb__item--info { float: left; width: 70%; margin-left: 10px; }
footer .footer__item .footer__blog--item .fb__item--info P { color: #fff; font-size: 10px; font-family: 'Verdana', sans-serif; font-weight: bold; line-height: 2.182; margin: 0; }
footer .footer__item .footer__blog--item .fb__item--info .description { margin-top: 10px; font-size: 10px; font-family: 'Verdana'; font-style: italic; color: #a1a1a1; }
footer .tweets .last__tweet { font-family: "BerlinSansFB"; font-size: 13.333px; line-height: 1.2; font-style: italic; margin-bottom: 25px; }
footer .tweets .last__tweet p { width: 100%; color: #fff; margin: 0px; }
footer .tweets .last__tweet a { width: 100%; color: #f95959; text-decoration: none; }
footer .tweets .last__tweet .date { width: 100%; color: #a1a1a1; margin: 0px; }
footer .company__description img { margin-top: 45px; }
footer .company__description p { margin: 0; margin-top: 20px; color: #fff; font-size: 11px; font-family: 'Verdana'; line-height: 2.182; }
footer .copyrights { float: right; }
footer .copyrights p { color: #a1a1a1; font-size: 11px; font-family: 'Verdana'; }

@media screen and (max-device-width: 920px) { header { width: 100%; height: 400px; }
  header .header { width: 100%; margin-top: 14px; }
  header .header .logo { float: left; margin-top: 25px; margin-bottom: 10px; }
  header .header .mobile__btn { margin-top: 20px; display: block; float: right; width: 50px; height: 50px; }
  header .header .mobile__btn img { width: 50px; height: 50px; }
  header .header nav { display: none; top: 77px; margin: 0; width: 100%; text-align: center; margin-bottom: 10px; }
  header .header nav ul { list-style: none; margin: 0; width: 100%; padding: 0; }
  header .header nav ul li { display: block; width: 100%; }
  header .header nav ul li a { width: 100%; margin-right: 0px; margin-top: 15px; font-size: 18.33px; }
  header .header .slider__frame { height: 406px; }
  header .header .slider__frame img { width: 100%; height: 386px; }
  main { margin-top: 170px; width: 100%; }
  main .news { width: 100%; overflow: hidden; }
  main .news .news__item--margin { margin: 0; }
  main .news .news__item { float: left; width: 100%; margin-bottom: 60px; }
  main .news .news__item .img img { width: 100%; height: 100%; }
  main .news .news__item p { font-size: 12px; }
  .footer__header { background: url("../img/triangle.png"); height: 8px; width: 100%; }
  footer .footer__item--margin { margin: 0; }
  footer .footer__item { float: left; width: 100%; }
  footer .footer__item h4 { margin-top: 25px; }
  footer .footer__item .footer__blog--item { width: 100%; margin-bottom: 20px; }
  footer .tweets .last__tweet { margin-bottom: 15px; }
  footer .company__description img { margin-top: 25px; }
  footer .copyrights { float: right; text-align: center; } }

/*# sourceMappingURL=style.css.map */
